{% extends 'stagerabbit_app/base.html' %}

{% block title %}New Production{% endblock %}

{% block content %}
    <div class="new_prod">
        <p class="instructions">Please use the following form to submit a new production.</p>
        <form action="{% url 'new_production' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>

    <script> 
        flatpickr("#id_start_date,#id_end_date", {enableTime: false, dateFormat: "Y-m-d"}); 
    </script>
{% endblock %}
